/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page_login__6Y4hx {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 50vw;
}

.page_container__aoG4z{
  display: flex;
  flex-direction: column;
}

.page_row__xP1Vd {
  display: flex;
  flex-direction: row;
}

.page_label__2GA72 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.page_input___cVLA {
  border-style: none;
  height: 1.7rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.page_btnblack__75qjJ {
  background-color: black;
  color: white;
  width: 15rem;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
}

.page_a__AJ_Ap{
  color: purple;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.page_aRegister__wqmGA{
  color: blue;
  margin-left: 0.5rem;
}
